/* ===== YOUR CSS GOES HERE ===== */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@400;500&display=swap');
html {
	box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
	box-sizing: inherit;
    margin: 0
}
img#logo{
    width: 7%;
    padding: 2vh 0 0 1vw;
}
h1#head-font{
    display: inline;
    text-decoration: none;
    font-size:calc(20px + 2vw);
    margin-bottom: 5vh;
}
header{
    background-color: #FFFFFF
} 
header h1{
    font-family:'DM Serif Display', serif;
}
.top-screen{
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    margin-bottom: 1vh;
}
nav ul{
    text-align: center;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: calc(10px + 1vw);
}
nav li{
    list-style-type: none;
    display: inline;
    padding: 5vw;
}
nav a{
    text-decoration:none;
   color: #72481F;}

#home-section{
    position: relative;
   /*z-index: -1;*/
}
#intro-p{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    color: #FFFFFF;
    font-size: calc(15px + 5vw);
}
img#background{
    width: 100%;
}
.button{
    position: absolute;
    top: 50%;
    right: 50%;
    background-color: transparent;
    color: #FFFFFF;
    border-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: calc(10px + 1vw);
    transition: all 0.5s;
    cursor: pointer;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\2228';
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transition: 0.5s;
}  
.button:hover span {
    padding-bottom: 5vh;
} 
.button:hover span:after {
    opacity: 1;
    right: 0;
}
div#story{
    height: 800px;
}


/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
